@import url('https://fonts.googleapis.com/css?family=Roboto&display=swap');

body {
  --swimsuit:   #2F2BAD;
  --spraypaint: #AD2BAD;
  --sweetness:  #E42692;
  --sexercise:  #F71568;
  --solidgold:  #F7DB15;

  --swimsuit-dark:   #{darken(#2F2BAD, 33%)};
  --spraypaint-dark: #{darken(#AD2BAD, 33%)};
  --sweetness-dark:  #{darken(#E42692, 33%)};
  --sexercise-dark:  #{darken(#F71568, 33%)};
  --solidgold-dark:  #{darken(#F7DB15, 33%)};

  margin: 0;
  font-family: Roboto;

  color: #2b2b2b;
  background-color: #fdfdfd;

  ::selection {
    background-color: var(--sexercise);
    color: white;
  }
}

.App {
  width: 800px;
  max-width: 100%;
  margin: auto;
}

.title-bar {
  transform: rotate(-0.5deg);

  span {
    padding: 0.25rem 0.5rem;
    color: mix(white, transparent, 90%);
    background-color: var(--sexercise);
  }
}