@import url('https://fonts.googleapis.com/css?family=Roboto&display=swap');

body {
  --solidgold:  #F7DB15;
  --sweetness:  #E42692;
  --sexercise:  #F71568;
  --spraypaint: #AD2BAD;
  --swimsuit:   #2F2BAD;
  --sympathy:  #1e1c70;

  margin: 0;
  font-family: Roboto;

  color: #2b2b2b;
  background-color: #fdfdfd;
  font-size: 1.2rem;
}

.Page {
  width: 800px;
  max-width: 100%;
  margin: auto;
}

.Footer {
  background-color: var(--sexercise);
  color: white;
  text-align: center;
  padding: 1rem;
}

.title-bar {
  transform: rotate(-0.5deg);

  span {
    padding: 0.25rem 0.5rem;
    color: mix(white, transparent, 90%);
    background-color: var(--sexercise);
  }
}