.Header {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 1rem;

  .Header__img {
    max-height: 450px;
  }

  .Header__bar {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 1rem 0;
    position: relative;

    .Header__name {
      padding: 0.25rem 0.5rem;
      color: mix(white, transparent, 90%);
      background-color: var(--sexercise);
      font-size: 2rem;
      margin-bottom: 0.5rem;
    }

    .Header__nav {
      margin-right: 0.5rem;

      a {
        color: var(--sexercise);
        
        &:not(:hover) {
          text-decoration: none;
        }

        &:not(:last-child) {
          margin-right: 0.5rem;
        }
      }
    }
  }
}