.Project {
  &:not(:first-child) {
    margin-top: 1.5rem;
  }

  
  .Project__heading {
    display: flex;
    align-items: center;
    margin-bottom: 0.5rem;

    .Project__title {
      font-weight: bold;
      color: inherit;
      font-size: 1.35rem;
      text-decoration: underline;
      display: block;
      margin-right: 0.25rem;
    }

    .Project__techs {
      font-size: 0.9rem;
    }
  }

  .Project__links {
    margin-top: 0.5rem;
    font-weight: bold;
    
    .Project__links__link {
      color: inherit;
      padding: 0 0.15rem;
      text-decoration: none;
      
      display: block;
      cursor: pointer;
      
      .icon {
        color: var(--section-color);
      }

      &:hover {
        text-decoration: underline;
        color: var(--section-color);
      }
    }
  }
}