.Section {
  padding: 1rem;
  margin-bottom: 1rem;
  position: relative;

  ::selection {
    color: white;
    background-color: var(--section-color);
  }

  .Section__title {
    font-size: 1.55rem;
    font-weight: 600;
    margin-bottom: 1rem;
    color: var(--section-color);
    text-decoration: none;
    display: block;
  }

  .Section__body {
    line-height: 1.65rem;

    a {
      color: var(--section-color);

      &:not(:hover) {
        text-decoration: none;
      }
    }
  }
}