.Section {
  padding: 1rem;
  margin-bottom: 1rem;
  position: relative;

  ::selection {
    color: white;
    background-color: var(--section-color);
  }

  &::after {
    position: absolute;
    top: 0;
    left: 0;
    width: 10px;
    height: 100%;
    content: ' ';
    border: 2px solid var(--section-color);
    border-right: none;
    pointer-events: none;
  }

  .Section__title {
    font-size: 1.55rem;
    font-weight: 600;
    margin-bottom: 1rem;
    color: var(--section-color);
    text-decoration: none;
    display: block;
  }

  .Section__body {
    line-height: 1.65rem;

    a {
      color: var(--section-color);

      &:not(:hover) {
        text-decoration: none;
      }
    }
  }
}